:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-font-color: #ffffff;
  --accent-color: #2196f3;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --social-icons-main: #afb1b8;
  --main-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  border: 0px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
/*--HEADER STYLES--*/
/*--HEADER POSITIONING--*/
.header-container {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-right: 93px;
  border: 0px;
  margin-bottom: -4px;
}
.menu-list:not( :last-child),
.contacts-list:not( :last-child) {
  margin-right: 50px;
}
.main-nav,
.main-menu,
.contacts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*--HEADER STYLE--*/
.main-header,
.portfolio-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}
/*--LOGO STYLE--*/
.logo,
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
/*--MAIN MENU STYLE--*/
.menu-link {
  color: var(--title-color);
  transition: color var(--main-duration) var(--timing-function);
}
.menu-link-current {
  color: var(--accent-color);
  position: relative;
}
.menu-link-current::after {
  position: absolute;
  left: 0;
  bottom: -32px;
  content:"";
  display: block;
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  cursor: pointer;  
}
/*--CONTACTS STYLE--*/
.contacts-list {
  display: flex;
  align-items: center;
}
.contacts-link {
  color: var(--text-color);
  margin-bottom: -4px;
  fill: var(--text-color);
  transition: color var(--main-duration) var(--timing-function), fill var(--main-duration) var(--timing-function);
}
.header-svg {
  margin-right: 10px;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}
/*--END OF HEADER STYLES--*/
/*--HERO SECTION STYLE--*/
.hero-section {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/images-hero/img-bgr-hero.jpg), linear-gradient(#c4c4c4, #c4c4c4);
  background-position: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
  margin: 0 auto;
}
.hero-title {
  color: var(--accent-font-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button-order {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;  
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}
/*--END OF HERO SECTION STYLE--*/
/*--FEATURES SECTION STYLE--*/
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-menu {
  display: flex;
  justify-content: space-between;
}
.features-list:not(:first-child) {
  margin-left: 30px;
}
.features-image {
  display: flex;
  background-color: var(--background-light);
  width: 270px;
  height: 120px;
align-items: center;
justify-content: center;
}
.features-description {
  padding-top: 30px;
}
.features-icon {
  width: 70px;
  height: 70px;
}
.features-title {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: left;
}
.features-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
  text-align: left;
}
/*--END OF FEATURES SECTION STYLE--*/
/*--OUR SERVICES SECTION STYLE--*/
.services-section {
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
}
.section-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.servises-link-wrapper {
  position: relative;
}
.services-label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--accent-font-color);
  padding-top: 27px;
  padding-bottom: 27px;
}
/*--END OF OUR SERVICES SECTION STYLE--*/
/*--OUR TEAM SECTION STYLE--*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-light);
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-description {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px
}
.team-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.team-member {
  padding-left: 32px;
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.team-name {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 16px;
}
.social-icons-container {
    display: flex;
    justify-content: space-between;
    width: 206px;
    }
.social-link-teammember {
  display: flex;
  background-color: #ffffff;
  fill: var(--social-icons-main);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-duration) var(--timing-function), fill var(--main-duration) var(--timing-function);
}
.social-link-teammember:hover,
.social-link-teammember:focus {
  fill: var(--accent-font-color);
  background-color: var(--accent-color);
}
/*--CLIENTS SECTION STYLES--*/
.clients-section {
  padding: 94px 0px 94px 0px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px
}
.client-list-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
 

}
.client-link { 
  display: flex;
  padding: 15px 31px 15px 31px;
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--social-icons-main);
  justify-content: center;
  align-items: center;
  fill: var(--social-icons-main);
  transition: fill var(--main-duration) var(--timing-function), border-color var(--main-duration) var(--timing-function);
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/*--END OF CLIENTS SECTION STYLES--*/
/*--FOOTER STYLE--*/
.page-footer {
  background-color: var(--background-dark);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.contacts-link-footer {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.contacts-linksemitransparent-footer {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-column:first-child {
  margin-right: 70px;
}
.footer-column:last-child {
  margin-left: 93px;
}
.footer-text {
  color: var(--accent-font-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: left;
}
.social-footer-container {
  display: flex;
  justify-content: space-between;
  width: 206px;
}
.social-link-footer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--accent-font-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-duration) var(--timing-function);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}
/*--SUBSCRUBTION FORM FOOTER STYLES--*/
.subscribtion-form-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.subscribtion-footer-label {
  color: var(--accent-font-color);
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03;
  display: flex;
  flex-direction: column;
 }
 .subscribtion-footer-input {
   display: block;
   margin-top: 20px;
   width: 358px;
   height: 50px;
   box-sizing: border-box;
   background-color: transparent;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 16px;
   color: rgba(255, 255, 255, 0.6);
   font-family: Roboto;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
.subscribtion-footer-button {
  position: relative;
  margin-left: 12px;
  padding-right: 62px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  border: 0;
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
  fill: var(--accent-font-color);
}
/*--END OF SUBSCRUBTION FORM FOOTER STYLES--*/
/*--END OF FOOTER STYLE--*/
/*--MODAL AND BACKDROP STYLE--*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 1024px;  
}
.modal {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 528px;
height: 580px;
border-radius: 4px;
background-color: #ffffff;
box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
transition: opacity var(--main-duration) var(--timing-function), visibility var(--main-duration) var(--timing-function);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  fill: #000000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*--END OF MODAL AND BACKDROP STYLE--*/
/*--PORTFOLIO PAGE STYLE--*/
.portfolio-header {
border-bottom: 1px solid #ECECEC;
}
.projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*--FILTER STILE--*/
.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;  
}
.filter-list:not( :last-child) {
  margin-right: 8px;
}
/*--FILTER BUTTON STYLE--*/
.filter-button {
  background-color: var(--background-light);
  color: var(--title-color);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;
  transition: box-shadow var(--main-duration) var(--timing-function);  
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
/*--PROJECTS CARDS STYLE--*/
.projects-link {
  display: block;
  transition: box-shadow var(--main-duration) var(--timing-function);
}
.projects-link:hover,
.projects-links:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-list {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}
.projects-text {
  padding: 20px 24px 20px 24px;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
}
.projects-name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}  
.projects-card-wrapper {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--accent-font-color);
  padding: 63px 24px 63px 24px;
  font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
}
::-webkit-scrollbar {
  width: 0px;  
}
.projects-card-wrapper .projects-overlay {
transition: transform var(--main-duration) var(--timing-function);
}
.projects-card-wrapper:hover .projects-overlay,
.projects-text:hover .projects-overlay{
  transform: translate(0%); 
}
